# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints

# -------------------------
# Streamlit
# -------------------------
.streamlit/secrets.toml
.streamlit/config.toml

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Audio output
# -------------------------
*.mp3

# -------------------------
# Misc
# -------------------------
.DS_Store
Thumbs.db